.securepay_payment_cards {
  display: block;
  width: 100%;
  height: 25px;
}
.securepay_payment_cards .card {
  margin-right: 4px;
  width: 35px;
  float: left;
  height: 24px;
}
.securepay_payment_cards .spacer {
  width: 35px;
  height: 1px;
}
